<!DOCTYPE html>
<html>
<title>W3.CSS Template</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1,h2,h3,h4,h5,h6 {
    font-family: "Playfair Display";
    letter-spacing: 5px;
}
</style>
<body>


<!-- Header
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
   
  </div>
</header> -->

<!-- Page content -->
<div class="w3-content" style="max-width:1100px">

  <!-- About Section -->
  <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small">
     <img src="https://i.pinimg.com/736x/b4/cd/ac/b4cdacb1d1d07a040b0cd47f2d217208--apple-laptop-apple-iphone.jpg" class="w3-round w3-image w3-opacity-min" alt="laptop" >
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Deloitte</h1><br>
      <h5 class="w3-center">A story that matters</h5>
      <p class="w3-large">We believe that we’re only as good as the good we do.</p>

<p>All the facts and figures that talk to our size and diversity and years of history, as notable and important as they may be, are secondary to the truest measure of Deloitte: the impact we make in the world.</p>

<p>So, when people ask, “what’s different about Deloitte?” the answer resides in the many specific examples of where we have helped Deloitte member firm clients, our people, and sections of society to achieve remarkable goals, solve complex problems or make meaningful progress. Deeper still, it’s in the beliefs, behaviors and fundamental sense of purpose that underpin all that we do. </p>

<p>With over 150 years of hard work and commitment to making a real difference, our organization has grown in scale and diversity—approximately 245,000 people in 150 countries and territories, providing audit, tax, legal, financial advisory, risk advisory, and consulting services—yet our shared culture remains the same.</p>
<h5 class="w3-center">About the network</h5>
      <p>“Deloitte” is the brand under which tens of thousands of dedicated professionals in independent firms throughout the world collaborate to provide audit, consulting, financial advisory, risk advisory, tax and related services to select clients.</p>

<p>These firms are members of Deloitte Touche Tohmatsu Limited, a UK private company limited by guarantee (“DTTL”). Each DTTL member firm provides services in particular geographic areas and is subject to the laws and professional regulations of the particular country or countries in which it operates.Not every DTTL member firm provides all services, and certain services may not be available to attest clients under the rules and regulations of public accounting.</p>
    </div>
  </div>
  
  <hr>
  

<!-- End page content -->
</div>

<footer id="footer" class="cc-static-snippet" cmf="contentType#FOOTER">
    <div class="footer-container">
 <div class="footer-column">
  <h3 class="footer-column-headline">Get Connected</h3>
  <ul class="footer-col">
   <li><a href="http://www2.deloitte.com/in/en.html?icid=bottom_globalprofileoffices" target="_blank">Home</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/newsroom.html?icid=bottom_newsroom" target="_blank">Newsroom</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/office-locator.html?icid=bottom_office-locator" target="_blank">Office locator</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/global-office-directory.html?icid=bottom_global-office-directory" target="_blank">Global Office Directory</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/pressreleasespage.html?icid=bottom_pressreleasespage&amp;q=*&amp;sp_x_18=content-type&amp;sp_s=date-published%7Ctitle&amp;sp_q_18=%22Press%20releases%22" target="_blank">Press releases</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/submit-rfp.html?icid=bottom_submit-rfp" target="_blank">Submit RFP</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/contact-us.html?icid=bottom_contact-us" target="_blank">Contact us</a></li>
   <li><a href="http://www2.deloitte.com/in/en/footerlinks/alumni-deloitte-india.html?icid=bottom_alumni-deloitte-india" target="_blank">Alumni</a></li>
  </ul>
 </div>
</div>
<div class="footer-container">
 <ul class="social-links"></ul>
</div>
</footer>
</body>
</html>