<!--   <!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<h2 style="color:white">Login Form</h2>
<form>
  <div class="imgcontainer">
    <img src="resources/images/image.jpg" alt="Avatar" class="avatar">
  </div>
  <div class="container">
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Username" data-ng-model="user.email" required>
    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" data-ng-model="user.password" required>
        
   <div class="form-group" align="center"><input type="submit"style="color:black" value="login" data-ng-click="login(user)"><br></div><br>
    
</form>
</div> -->  
<html>
<head>
  <style>
body {
    background-image: url("https://wallpaperscraft.com/image/lighthouse_bay_sunset_sky_119925_2160x1442.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-attachment: fixed;
    background-position: center;
	font-family: 'Open Sans', sans-serif;
	height: 100vh;
}
</style>
 </head>
 
 <body>
 
		
	
	<div class="main-content-agile">
		<div class="sub-main-w3">
			<h2 style="color:white">Sign In Now</h2>
			<form>
				<label style="color:white">Email</label>
				<div class="pom-agile">
					<span class="fa fa-user-o" aria-hidden="true"></span>
					 <input type="text" placeholder="Enter Username" data-ng-model="user.email" required="">
				</div>
				<label style="color:white">Password</label>
				<div class="pom-agile">
					<span class="fa fa-key" aria-hidden="true"></span>
				 <input type="password" placeholder="Enter Password" data-ng-model="user.password" required>
				</div>
				
				<div class="right-w3l">
					<input type="submit" value="login" data-ng-click="login(user)">
				</div>
			</form>
		</div>
	</div>
	</div>

</body>

</html>   