<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Sign in</h1>
            <div class="account-wall">
               
                <form class="form-signin">
               
    <input type="text" placeholder="Enter FirstName" ng-model="user.firstName" required>

    <input type="text" placeholder="Enter LastName" ng-model="user.lastName" required>

    
    <input type="text" placeholder="Enter Email" ng-model="user.email" required>

    <input type="text" placeholder="Enter PhoneNumber" ng-model="user.phonenumber" required>


    <input type="password" placeholder="Enter Password" ng-model="user.password" required>

<div class="form-group" align="center">

							</label>
							
							
							<label class="col-md-4 control-label" style="color:black"><i>Select Role</i></label>
							<input type="radio" ng-model="user.role" value="Student" style="color:black">Student

							<input type="radio" ng-model="user.role" value="Alumini" style="color:black">Alumini

							<input type="radio" ng-model="user.role" value="Employee" style="color:black">Employee
							
						</div>
                <button class="btn btn-lg btn-primary btn-block" value="Register" type="submit" ng-click="registerUser(user)">
                    Register</button>
                
                </form>
            </div>
           
        </div>
    </div>
</div>