{{error.message}}

<form>

	<div class="form-group">

		Enter Email Id 
		<input type="email" Data-ng-model="user.email" class="form-control">

	</div>


	<div class="form-group">

		Enter password
		 <input type="password" Data-ng-model="user.password" class="form-control">

	</div>



	<div class="form-group">

		Enter FirstName <input type="text" Data-ng-model="user.firstName"
			class="form-control">

	</div>



	<div class="form-group">

		Enter LastName <input type="text" Data-ng-model="user.lastName"
			class="form-control">

	</div>
	<div class="form-group">

		Phone Number <input type="number" Data-ng-model="user.phonenumber"
			class="form-control">

	</div>


	<div class="form-group">

		<select Data-ng-model="user.role">

			<option value="STUDENT">Student
			<option value="EMPLOYEE">Employee
			<option value="ALUMNI">Alumni
		</select>

	</div>

	<input type="submit" data-ng-click="registerUser(user)"
		value="Register">

</form>